/* * Skin for jPlayer Plugin (jQuery JavaScript Library)
* http://www.jplayer.org
* Copyright (c) 2010-2012 Happyworm Ltd
* Dual licensed under the MIT and GPL licenses.
*  - http://www.opensource.org/licenses/mit-license.php
*  - http://www.gnu.org/copyleft/gpl.html
*
* Author:Silvia Benvenuti
* Skin Version:4.3 (jPlayer 2.2.0)
* Date:19th November 2012 */


div.jp-audio {
	display: block;
	direction: ltr;
	text-align: left;
	&.audio-has-img {
		margin-left: 100px;
	}
}
div.jp-interface {
	position: relative;
	width: 100%;
}
div.jp-audio div.jp-type-single div.jp-interface {
	min-height: 90px;
}

/* @group CONTROLS */
div.jp-controls-holder {
	clear: both;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	top: -8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}
div.jp-interface ul.jp-controls {
	list-style-type: none;
	margin: -14px 0 0 -28px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	li {
		margin: 0;
	}
}
div.jp-audio ul.jp-controls {
}
div.jp-interface ul.jp-controls li {
	display: inline;
	float: left;
}
div.jp-interface ul.jp-controls a {
	display: block;
	
}
a.jp-play,
a.jp-pause {
	padding: 9px 6px 7px 10px;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #252525;
	.border-radius(50px);
	color: #252525;
	&:hover {
		color: #fff;
		border-color: #fff;
	}
	i {
		line-height: 30px;
		width: 30px;
		font-size: 16px;
	}
}
a.jp-play {
}
a.jp-play:hover {
}
a.jp-pause {
	padding: 9px 8px 7px;
	display: none;
}
a.jp-pause:hover {
}

/* @end */
/* @group progress bar */

div.jp-progress {
	background-color: rgba(0, 0, 0, 0.2);
}
div.jp-audio div.jp-progress {
	position: absolute;
	top: 0px;
	left: 0;
	height: 12px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	left: 0;
	width: 100%;
}
div.jp-seek-bar {
	width: 0px;
	height: 100%;
	cursor: pointer;
}
div.jp-play-bar {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	width: 0px;
	height: 100%;
	position: relative;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
}

/* @end */
/* @group volume controls */


a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	width: 18px;
	height: 15px;
	margin-top: 0px;
}
div.jp-volume-bar {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 26px;
	height: 14px;
	cursor: pointer;
	background: url(../../images/jp-volume-control.png) left bottom no-repeat;
	i {
		position: absolute;
		left: -12px;
		color: #252525;
		top: -3px;
		font-size: 16px;
	}
}
div.jp-volume-bar-value {
	background: url(../../images/jp-volume-control.png) left top no-repeat;
	width: 0px;
	height: 14px;
}

/* @end */
/* @group current time and duration */

div.jp-audio div.jp-time-holder {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	padding: 0 10px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
	color: #fff;
	font-size: 12px;
	width: 100%;
	font-weight: bold;
}
div.jp-current-time,
div.jp-duration {
	display: inline-block;
}
div.jp-current-time {
	float: left;
}
div.jp-duration {
	float: right;
}

/* @end */
div.jp-jplayer audio,
div.jp-jplayer {
	width: 0px;
	height: 0px;
}
div.jp-jplayer {
	background-color: #000000;
}

/* @group TOGGLES */
/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
}
div.jp-audio .jp-type-single ul.jp-toggles {
	width: 25px;
}
div.jp-audio .jp-type-playlist ul.jp-toggles {
	width: 55px;
	margin: 0;
	position: absolute;
	left: 325px;
	top: 50px;
}
ul.jp-toggles li {
	display: block;
	float: right;
}
ul.jp-toggles li a {
	display: block;
	width: 25px;
	height: 18px;
	text-indent: -9999px;
	line-height: 100%; /* need this for IE6 */
}
a.jp-full-screen {
	background: url("../../images/jplayer.blue.monday.jpg") 0 -310px no-repeat;
	margin-left: 20px;
}
a.jp-full-screen:hover {
	background: url("../../images/jplayer.blue.monday.jpg") -30px -310px no-repeat;
}
a.jp-restore-screen {
	background: url("../../images/jplayer.blue.monday.jpg") -60px -310px no-repeat;
	margin-left: 20px;
}
a.jp-restore-screen:hover {
	background: url("../../images/jplayer.blue.monday.jpg") -90px -310px no-repeat;
}
a.jp-repeat {
	background: url("../../images/jplayer.blue.monday.jpg") 0 -290px no-repeat;
}
a.jp-repeat:hover {
	background: url("../../images/jplayer.blue.monday.jpg") -30px -290px no-repeat;
}
a.jp-repeat-off {
	background: url("../../images/jplayer.blue.monday.jpg") -60px -290px no-repeat;
}
a.jp-repeat-off:hover {
	background: url("../../images/jplayer.blue.monday.jpg") -90px -290px no-repeat;
}
a.jp-shuffle {
	background: url("../../images/jplayer.blue.monday.jpg") 0 -270px no-repeat;
	margin-left: 5px;
}
a.jp-shuffle:hover {
	background: url("../../images/jplayer.blue.monday.jpg") -30px -270px no-repeat;
}
a.jp-shuffle-off {
	background: url("../../images/jplayer.blue.monday.jpg") -60px -270px no-repeat;
	margin-left: 5px;
}
a.jp-shuffle-off:hover {
	background: url("../../images/jplayer.blue.monday.jpg") -90px -270px no-repeat;
}

/* @end */
/* @group NO SOLUTION error feedback */

.jp-no-solution {
	padding: 5px;
	font-size: .8em;
	background-color: #eee;
	border: 2px solid #009be3;
	color: #000;
	display: none;
}
.jp-no-solution a {
	color: #000;
}
.jp-no-solution span {
	font-size: 1em;
	display: block;
	text-align: center;
	font-weight: bold;
}

/* @end */