/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
}

.fancybox-opened .fancybox-skin {
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading{
    background-image: url(../../images/fancybox/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../../images/fancybox/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    .border-radius(2px);
    text-align: center;

    i {
        font-size: 16px;
        line-height: 32px;
    }
    &:hover {
        background-color:rgba(0,0,0,0.5); 
    }
}

.fancybox-nav {
    position: absolute;
    top: 25%;
    width: 40%;
    height: 50%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(../../images/fancybox/blank.gif); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -25px;
    cursor: pointer;
    visibility: hidden;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    .border-radius(2px);
    text-align: center;
    @media handheld, only screen and (max-width:768px) {
        visibility: visible !important;
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        visibility: visible !important;
    }
    i {
        font-size: 16px;
        line-height: 60px;
        @media handheld, only screen and (max-width:768px) {
            line-height: 30px;
        }
    }
    &:hover {
        background-color:rgba(0,0,0,0.5); 
    }
}

.fancybox-prev span {
    left: 20px;
}

.fancybox-next span {
    right: 20px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    background: url(../../images/fancybox/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    position: relative;
    margin-right: 45px;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    margin-top: 10px;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
    line-height: 24px;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
