.news-post-heading {
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-bottom: 3px solid #dddddd;
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
	position: relative;
}
.news-single-social {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 5px;
	display: inline-block;
	li {
		display: inline-block;
		margin: 0;
		padding: 0 7px 0 5px;
		border-right: 1px solid #bcbcbc;
		line-height: 14px;
		&.mk-news-share {
			a{
			}
			position: relative;
			.news-share-buttons {
				position: absolute;
				background-color: #e9e9e9;
				border: 1px solid #cccccc;
				display: block;
				padding: 10px 6px;
				width: 215px;
				top: 30px;
				right: 0;
				white-space: nowrap;
				.border-radius(4px);
				.box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
				display: none;
				&:after {
					position: absolute;
					display: block;
					content: "";
					top: -6px;
					right: 43px;
					width: 12px;
					height: 12px;
					background-color: #e9e9e9;
					border: 1px solid #cccccc;
					.rotate(45deg);
					border-right: none;
					border-bottom: none;
				}
				.share-button {
					display: inline-block;
					float: left;
					padding-left: 10px;
				}
			}
		}
		&:last-child {
			border: none !important;
		}
		a {
			line-height: 16px;
			display: block;
		}
	}
}
.back-news-page {
	font-size: 12px;
	font-weight: bold;
	margin-right: 20px;
	i {
		display: inline-block;
		font-size: 16px;
		color: #bbbbbb;
		margin-right: 8px;
	}
}
.news-single-date {
	display: inline-block;
	a {
		font-size: 11px;
		color: #999999;
	}
}
.news-single-categories {
	font-size: 12px;
	font-weight: bold;
	color: #999999;
	display: inline-block;
	text-transform: uppercase;
}
.single-news-meta {
	line-height: 13px;
}
.news-featured-image {
	margin: 10px 0 50px;
}
.news-post-content {
	margin-bottom: 50px;
}
.mk-back-top {
	text-align: right;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 3px solid #dddddd;
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
	.mk-back-top-link {
		color: #999999;
		font-size: 12px;
		i {
			margin-right: 5px;
		}
	}
}