/* Shortcode: Slideshow Box
-------------------------------------------------------------------- */

.mk-slideshow-box {

	&.full-width-true {
		.mk-slideshow-box-content {
			padding-left: 0;
			padding-right: 0; 
		}
	}  
	
}