/* Shortcode:Moving Images
-------------------------------------------------------------------- */
.mk-moving-image-shortcode {
	img {
		width: auto !important;
		display: inline-block !important;
	}
}