/*
Theme Name:     Champs Meunier
Theme URI: 	    http://www.meomeo.ch/
Description:    Customisations of the Jupiter theme for Champs Meunier / GeFIswiss
Author:         MEO
Theme URI: 	    http://www.meomeo.ch/
Template:       jupiter
Version:        1.0.1
*/

/* ================================================================================================= *
 * ProjectView logo
 * ================================================================================================= */

.projectview-re-logo {
	text-align: right;
}

.projectview-re-logo img {
	max-width: 117px;
}

/* ================================================================================================= *
 * Filters menu
 * ================================================================================================= */
.filters-wrapper {
	background-color: #777;
	text-align: center;
}

.filter-responsive-link {
	display: none;
	color: #fff;
	text-align: center;
}

.filters {
	color: #bcb5b1;
	font-size: 1.0769em;
	line-height: 60px;
	margin: 0 auto;
}

.filter-menu,
.filter-menu a {
	color: #fff;
}
/**/
.filter-menu a:hover {
	color: #fff;
}

.filter-menu {
	margin: 0 0 0 5%;
	list-style: none;
	line-height: inherit;
	float: none;
	display: inline-block;
	text-transform: lowercase;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.filter-menu > li {
	padding: 0 22px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.filter-menu .chosen {
	background-color: #333;
}

.filter-menu .submenu {
	text-align: left;
}
.filter-menu li.has-children {
  background-color: #777;
  text-align: left;
}
.filter-menu li.has-children li {
  background-color: #777;
  text-align: left;
}
.filter-menu li li {
	background-color: #777;
}
.filter-menu li li:hover {
	background-color: #333;
}

.filter-menu .submenu a {
	white-space: nowrap;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top: 3.5em;
}

.sf-menu ul.submenu {
	width: auto;
	min-width: 10em;
}


/* ================================================================================================= *
 * Forms
 * ================================================================================================= */

span.wpcf7-not-valid-tip {
	display: none;
}
.show-label {
	display: block !important;
}

/* ------------------------------------------------------------------------------------------------- *
 * PDF download form
 * ------------------------------------------------------------------------------------------------- */
.page-template-msc-attachment-request-php {
	padding: 20px;
}

.page-template-msc-attachment-request-php > p {
	color: #634e42;
	font-size: 1.3846em;
}
.page-template-msc-attachment-request-php .wpcf7 p {
	margin-bottom: 0 !important;
}

.page-template-msc-attachment-request-php .wpcf7 label {
	display: none;
}

.page-template-msc-attachment-request-php .wpcf7 select,
.page-template-msc-attachment-request-php .wpcf7 input[type="text"],
.page-template-msc-attachment-request-php .wpcf7 input[type="email"] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.923em;
	padding: 2px 5px;
	margin: 7px 0;
	background-color: #fff;
	border: 1px solid #eeeeee;
}

.page-template-msc-attachment-request-php h1 {
	font-weight: bold;
}


.list-style-54f718d4aa661, .list-style-54f718d4acd57 {
	margin-bottom: 0px !important;
}
/* ================================================================================================= *
 * Home page
 * ================================================================================================= */
/* Call To Action */
.home.page .vc_col-sm-12.wpb_column.column_container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#call-to-action {
  top: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1000;
}
	.c2a-container {
	  background-color: #388b2b;
	  color: #fff;
	  margin: 0 auto;
	  max-width: 300px;
	  padding:30px 30px 15px 30px;
	}
	.c2a-container:after {
	  content: "";
	  left: 50%;
	  margin-left:-180px;
	  position: absolute;
	  top: 100%;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 30px 180px 0 180px;
	  border-color: #388b2b transparent transparent transparent;
	  -moz-transform: scale(.9999);
	}
	.c2a-content {

	}
		.c2a-content h1, .c2a-content h2, .c2a-content h3,
		.c2a-content h1 strong, .c2a-content h2 strong, .c2a-content h3 strong {
		  font-family: 'Oswald', sans-serif;
		  color: #ffffff !important;
		  margin: 0;
		  padding: 0;
		  text-transform: none !important;
		}
		.c2a-content h1, .c2a-content h1 strong {
			font-size: 34px !important;
			line-height: 1em;
			font-weight: bold !important;
    		letter-spacing: 2px;
		}
		.c2a-content h2, .c2a-content h2 strong {
			font-size: 23px !important;
			letter-spacing: 2px;
		}
		.c2a-content h3, .c2a-content h3 strong  {
			font-weight: 300 !important;
			font-size: 23px !important;
			margin-top: 5px;
			padding-top:8px;
		}
	.c2a-link {
	  margin: 15px 0 0;
	  padding: 18px 0;
	}
	.c2a-link a, .c2a-link a:hover {
	  color: #fff;
	  font-size: 14px;
	  font-weight: bold;
	  letter-spacing: 2px;
	  transition: all 0.2s ease-in-out 0s;
	  padding: 18px 28px;
	  border: 2px solid #fff;
	  display: block;
	}
	.c2a-link a:hover {
	  color:#2a5828;
	  background-color: #fff;
	}
	/* Single BTN Call2Action */
	.c2a-link-single a, .c2a-link-single a:hover {
	  color: #fff;
	  font-size: 14px;
	  font-weight: bold;
	  letter-spacing: 2px;
	  transition: all 0.2s ease-in-out 0s;
	  padding: 9px 12px;
	  border: 2px solid #fff;
	  display:inline-block;
	  text-transform: uppercase;
	  width: auto;
	}
	.c2a-link-single a:hover {
	  color:#4b9e48;
	  background-color: #fff;
	}
	
	/* Reverting Colors */
	.green-text-div.vc_call_to_action h2, 
	.green-text-div.vc_call_to_action p {
	  color:#4b9e48 !important;
	}
	.green-text-div .c2a-link-single a, .green-text-div .c2a-link-single a:hover {
	  color:#4b9e48;
	  background-color: #F7F7F7;
	  border: 2px solid #4b9e48;
	}
	.green-text-div .c2a-link-single a:hover {
	  color:#fff;
	  background-color: #4b9e48;
	}
/* Logo on slider */
body.home.page .mk-main-wrapper-holder {
  bottom: 7%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1000;
}
.logo-meunier-home-footer img {
	display:none;
	max-width: 200px !important;
}

/* ================================================================================================= *
 * Development page
 * ================================================================================================= */
.single-development .theme-page-wrapper.full-layout.vc_row-fluid.mk-grid.row-fluid {
  margin-bottom: 0 !important;
}

/** Contact **/
.page-id-32 .vc_col-sm-6.wpb_column.column_container {
  padding: 0 40px;
}
.page-id-32 .wpcf7-submit {
  margin-top: 20px;
}
.wpcf7-form br {
  display: block;
  line-height: 50px;
  margin: 2px auto;
}
.wpb_gmaps_widget.wpb_content_element {
  margin-left: 25px;
  margin-right: 25px;
}
/* ================================================================================================= *
 * Plan list page
 * ================================================================================================= */
.page-template-plan-list-php .page-title {
	text-transform: none !important;
	color: #2a5828 !important;
}

.page-template-plan-list-php .page-title .page-name {
	font-weight: bold;
	text-transform: lowercase;
}
.page-template-plan-list-php .page-title .active-filter {
	display: none;
}
.page-template-plan-list-php .page-title .filter-value {
	font-style: italic;
	text-transform: lowercase;
}

.views {
	clear: both;
}

/* ================================================================================================= *
 * Plan list page - thumbnail view
 * ================================================================================================= */

.apartment-list {
	margin-left: 0;
}

.apartment-list .apartment-list-image-wrapper {
	margin-left: 0;
}

.apartment-list .apartment-list-image-wrapper {
	padding-left: 15px !important;
	padding-right: 15px !important;
	font-size: 1em;
	line-height: 1.6em;
	margin-bottom: 30px;
	display: block;
}
.apartment-list .apartment-list-image-inner {
	padding: 30px;
	border: 1px solid rgb(227, 227, 227);
	position: relative;
}

.apartment-list .apartment-list-image {
	text-align: center;
}

.apartment-list .vc_separator {
	margin-top: 15px;
	margin-bottom: 15px;
}

.apartment-list .apartment_details a {
	color: #999999;
}

.vc_row-fluid > [class*="vc_span"].apartment-list-image-wrapper:not(:last-child),
.vc_row-fluid > [class*="vc_span"].apartment-list-image-wrapper:first-child,
.vc_row-fluid > [class*="vc_span"].apartment-list-image-wrapper {
	border-right: 1px solid #bbbbbb !important;
}

.apartment-list .apartment_code a {
	color: #2a5828;
	font-size: 1.2307em;
	font-weight: bold;
	text-transform: uppercase;
}

.apartment-list .availability {
	text-transform: lowercase;
	padding: 1px 0;
}
.availability_available .apartment-list-image .availability {
	color: #4b9e48;
}
.availability_available .apartment-list-image .availability:hover {
	color: #2a5828;
}

.availability_reserved .apartment-list-image .availability {
	color: #f59211;
}

.availability_sold .apartment-list-image .availability {
	color: #ff0000;
}

.apartment-list .apartment-list-image-wrapper .plan {
	height: 0;
	padding-bottom: 136%; /* maximum ascpect ratio 126%, plus real padding */
	position: relative;
}

.apartment-list .apartment-list-image-wrapper .plan img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-width:100px;
	min-height:100px;
}

.apartment-list .availability_sold .apartment-list-overlay {
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #2a5828; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* opacity: 0.1; */
}
.apartment-list .availability_sold .apartment-list-image-inner {
	background-color: #f7f7f7;
}

.single-lot .pdf-download-link,
.apartment-list .pdf-download-link {
	color: #fff;
	background-color: #2a5828;
	text-transform: uppercase;
	text-align: center;
	padding: 18px 5%;
	font-size: 14px;
	font-weight: bold;
	width: 90%;
}

.single-lot .pdf-download-link:hover,
.apartment-list .pdf-download-link:hover {
	background-color:#4b9e48;
}

/* ================================================================================================= *
 * Plan list page - list view
 * ================================================================================================= */

#apartment-list-content .pdf-download-link img {
	width: 202px;
	max-width: 100%;
}
#apartment-list-content ul {
	list-style-type: none;
	margin-left: 0;
}
#apartment-list-content li {
	margin-left: 0;
}
.view-switchers {
	text-align: right;
	color: #777;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 2em;
}

.view-switcher {
	margin-left: 10px;
}
.apartment-list-row {
	border-bottom: 1px solid #bbbbbb;
}
.apartment-list-row.first-visible {
	border-top: 1px solid #bbbbbb;
}

.apartment-list-row.odd {
	background-color: #f7f7f7;
}

.apartment-list-row li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: relative;
	vertical-align: middle;
	line-height: 2.9487em;
	width: 16%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border-left: 1px solid #bbbbbb;
}

.apartment-list-row li.apartment_code_and_availability,
.apartment-list-row li.pdf-download {
	border-left: none;
}

.apartment-list-row li.apartment_code_and_availability {
	line-height: 1.6em;
}


.apartment-list-row .apartment_code {
	color: #2a5828;
	font-size: 1.2307em;
	font-weight: bold;
	text-transform: uppercase;
}

.availability_available .apartment_code_and_availability .availability {
	color: #4b9e48;
}
.availability_available .apartment_code_and_availability .availability:hover {
	color: #2a5828;
}

.availability_reserved .apartment_code_and_availability .availability {
	color: #f59211;
}

.availability_sold .apartment_code_and_availability .availability {
	color: #ff0000;
}


.apartment-list-row .mk-font-icons {
	color: #adadad;
	padding-right: 2px;
	position: relative;
	top: -2px;
}
.apartment-list-row .mk-font-icons i.mk-size-small {
	font-size: 1.1em;
}

.apartment-list-row .lot_code .mk-font-icons {
	display: none;
}

.apartment-list-row.lot_type_appartement .apartment-icon,
.apartment-list-row.lot_type_atelier .atelier-icon,
.apartment-list-row.lot_type_arcade .arcade-icon {
	display: inline-block;
	margin-right: 6px;
}

.apartment-list-row .lot_type .description {
	display: none;
}

.apartment-list-row .lot_code {
	font-weight: bold;
	width: 15%;
}

.apartment-list-row .lot_code a {
	color: #2a5828;
}
.apartment-list-row .lot_code a:hover {
	text-decoration: underline;
}
.apartment-list-row .lot_code,
.apartment-list-row .lot_detail {
	font-size: 1.2em;
}
.apartment-list-row .lot_detail {
	width: 57.9%;
}
.apartment-list-row .lot_detail .entry {
	display: none;
}

.apartment-list-row .lot_detail .entry,
.apartment-list-row .lot_detail .floor,
.apartment-list-row .lot_detail .rooms {
	width: 15%;
}

.apartment-list-row .lot_detail .area {
	width: 25%;
}

.apartment-list-row .lot_detail .availability {
	width: 24%;
}

.apartment-list-row .lot_detail .floor,
.apartment-list-row .lot_detail .rooms,
.apartment-list-row .lot_detail .area,
.apartment-list-row .lot_detail .availability,
.apartment-list-row.lot_type_appartement .lot_detail .entry {
	display: inline-block;
	text-align: center;
}

.apartment-list-row .lot_detail .floor,
.apartment-list-row .lot_detail .rooms,
.apartment-list-row .lot_detail .area,
.apartment-list-row.lot_type_appartement .lot_detail .entry {
	border-right: 1px solid #ccc;
}

.apartment-list-row.availability_available .availability a {
	color: #64a650;
}
.apartment-list-row.availability_sold .availability a,
.apartment-list-row.availability_reserved .availability a {
	background-color: #ff8111;
	color: #fff;
	padding-left: 9px;
	padding-right: 10px;
}

.apartment-list-row.availability_sold .availability a:hover,
.apartment-list-row.availability_reserved .availability a:hover,
.apartment-list-row.availability_available .availability:hover {
	color: #2a5828;
}

.list_icon {
	background: url(images/list_icons.png) no-repeat top left;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background-size: 46px 187px;
	height: 28px;
	margin-right: 12px;
	position: relative;
	top: 7px;
}
.list_icon_building {
	background-position: 0 -53px; width: 46px;
}
.list_icon_floor {
	background-position: 0 -106px; width: 31px;
}
.list_icon_rooms {
	background-position: 0 -159px; width: 37px;
}
.list_icon_area {
	background-position: 0 0; width: 20px;
}



/* ================================================================================================= *
 * Plans by floor page
 * ================================================================================================= */

.page-introduce-title.mk-drop-shadow {
	text-shadow: none;
	font-size: 30px;
	color: #2a5828;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.page-template-plan-list-php .mk-grid {
	max-width: inherit;
}

.single-building #theme-page h1 {
	text-transform: lowercase;
}

.single-building #theme-page .theme-page-wrapper .theme-content {
	padding-left: 90px !important;
	padding-right: 90px !important;
}

.page-template-plan-list-php .view-switchers,
.single-building .view-switchers {
	width: 200px;
	float: right;
}

.single-building #theme-page .page-name {
	color: #2a5828;
}

.single-building .page-title .filter-value {
	font-style: italic;
	text-transform: lowercase;
}


/* ------------------------------------------------------------------------------------------------- *
 * floor selector (building image)
 * ------------------------------------------------------------------------------------------------- */

.buildings-wrapper {
	clear: both;
	overflow: hidden;
	margin-bottom: 45px;
}

.building-wrapper {
	float: left;
	width: 100%;
}

.building_image_wrapper,
.building-floor-links-column {
	/* padding-bottom calculated in PHP*/
	height: 0;
	position: relative;
}

.building-wrapper .building_image .building_floor_link .floor_link {
	text-indent: -9999px;
	width: 100%;
}

.building-wrapper .building_image .building_floor_link.active .floor_link {
	background: transparent url(images/floor_highlight.png) no-repeat center right;
}

.building-floor-links-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.building-wrapper .building_floor_links {
	margin: 0;
}
.building-wrapper .building_floor_link {
	list-style: none;
	position: absolute;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	text-align: center;
	text-transform: lowercase;
}

.building-wrapper .building-floor-links-column .building_floor_link .floor_link:before {
	display: inline-block;
	content: '';
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.building-wrapper .building_floor_link .floor_link {
	font-size: 1em;
	color: #686868;
	display: inline-block;
    vertical-align: middle;
    width: 95%;
    height: 100%;
    font-weight: bold;
}

.building-wrapper .building_floor_link.active .floor_link {
	font-size: 1.4em;
	font-weight: bold;
	color: #2a5828;
}


@media only screen and (max-width: 767px) {
	.building_image_wrapper {
		width: 100% !important;
		padding-bottom: 57.89472% !important;
	}

	.building-floor-links-column {
		display: none !important;
	}

	.building-wrapper .building_image .building_floor_link.active .floor_link {
		background: transparent url(images/floor_highlight_no_arrow.png) no-repeat center right;
	}


}



/* ------------------------------------------------------------------------------------------------- *
 * floor detail
 * ------------------------------------------------------------------------------------------------- */
.plans-by-floor {
	padding: 30px 0;
	margin: 30px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.plans-by-floor .floor-plan-wrapper {
	width: 83.3333%;
	overflow: visible;
}
.plans-by-floor .floor-nav-wrapper {
	width: 16.6666%;
}
.plans-by-floor .floor-container-column {
	padding-bottom: 29.8941%;
}

.plans-by-floor .scroll-container {
	padding-bottom: 35.873%;
}


.floor_navigation {
	/* Create a real div the full size of the parent's padding */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.floor_navigation_arrow {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: inline-block;
}
.floor_navigation_arrow_up {
	top: 0;
}
.floor_navigation_arrow_down {
	bottom: 0;
}

.floor_navigation_arrow i {
	color:#2a5828;
}
.floor_navigation_arrow .mk-font-icons i.mk-size-x-large {
	font-size: 2.5em;
}
.floor_navigation .floor_name:before {
	display: inline-block;
	content: '';
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.floor_navigation .floor_name {
	font-size: 1.8461em;
	font-weight: bold;
	color: #808080;
	display: inline-block;
	vertical-align: middle;
	width: 95%;
	height: 100%;
}

.availability-label-wrapper {
	display: none;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.availability-label-wrapper .lot-and-rooms {
	font-weight: bold;
}

.availability-label-wrapper .availability-label {
	background-color: inherit;
}

.availability-label-wrapper_available {
	background-color: #7f9b7e;
}

.availability-label-wrapper_reserved {
	background-color: #fbcc82;
}

.availability-label-wrapper_sold {
	background-color: #ff9999;
}

/* Generated by create_floor_plans.php */
.label_a1-l3_x5f_a2-l13_x5f_a3-l23_1_  {margin-top: 15.2684%; left: 27.5737%; width: 16.3316%;}
.label_a1-l4_x5f_a2-l14_x5f_a3-l24_1_  {margin-top: 20.5868%; left: 38.0421%; width: 20.3053%;}
.label_a1-l5_x5f_a2-l15_x5f_a3-l25_1_  {margin-top: 15.2684%; left: 52.7211%; width: 20%;}
.label_a1-l8_x5f_a2-l18_x5f_a3-l28_1_  {margin-top: 15.2737%; left: 49.9474%; width: 22.8053%;}
.label_a1-l7_x5f_a2-l17_x5f_a3-l27_1_  {margin-top: 20.5342%; left: 38.1632%; width: 20.2474%;}
.label_a1-l6_x5f_a2-l16_x5f_a3-l26_1_  {margin-top: 15.2737%; left: 27.5526%; width: 16.3368%;}
.label_a1-l10_x5f_a2-l20_x5f_a3-l30_1_ {margin-top: 15.3053%; left: 27.6474%; width: 16.3053%;}
.label_a1-l9_x5f_a2-l19_x5f_a3-l29_1_  {margin-top: 15.3053%; left: 38.2316%; width: 34.4421%;}
.label_l2-l12-l22_1_                   {margin-top: 18.7711%; left: 52.6684%; width: 19.9053%;}
.label_l1-l11-l21_1_                   {margin-top: 20.5053%; left: 37.9579%; width: 20.3211%;}
.label_b1-l35_x5f_b2-l45_x5f_b3-l55_1_ {margin-top: 15.2053%; left: 55.2368%; width: 19.1789%;}
.label_b1-l34_x5f_b2-l44_x5f_b3-l54_1_ {margin-top: 15.2053%; left: 25.4895%; width: 21.9158%;}
.label_b1-l33_x5f_b2-l43_x5f_b3-l53_1_ {margin-top: 20.5395%; left: 37.3579%; width: 25.7632%;}
.label_b1-l38_x5f_b2-l48_x5f_b3-l58_1_ {margin-top: 15.2211%; left: 55.2737%; width: 19.1%;}
.label_b1-l37_x5f_b2-l47_x5f_b3-l57_1_ {margin-top: 20.6132%; left: 37.5211%; width: 25.6211%;}
.label_b1-l36_x5f_b2-l46_x5f_b3-l56_1_ {margin-top: 15.2211%; left: 25.5368%; width: 21.8842%;}
.label_b1-l39_x5f_b2-l49_x5f_b3-l59_1_ {margin-top: 15.2289%; left: 25.5053%; width: 37.5895%;}
.label_b1-l40_x5f_b2-l50_x5f_b3-l60_1_ {margin-top: 15.2289%; left: 55.3%; width: 19%;}
.label_b1-l32_x5f_b2-l42_x5f_b3-l52_1_ {margin-top: 20.4974%; left: 40.4316%; width: 31.0789%;}
.label_b1-l31_x5f_b2-l41_x5f_b3-l51_1_ {margin-top: 15.1684%; left: 28.5526%; width: 21.8474%;}
.label_a1-l9_x5f_a2-l19_x5f_a3-l29     {margin-top: 15.3053%; left: 27.6474%; width: 16.3053%;}
.label_a1-l10_x5f_a2-l20_x5f_a3-l30    {margin-top: 15.3053%; left: 38.2316%; width: 34.4421%;}
.label_b1-l35_x5f_b2-l45_x5f_b3-l55_1_ {margin-top: 15.2053%; left: 55.2368%; width: 19.1789%;}
.label_b1-l34_x5f_b2-l44_x5f_b3-l54    {margin-top: 20.5395%; left: 37.3579%; width: 25.7632%;}
.label_b1-l33_x5f_b2-l43_x5f_b3-l53    {margin-top: 15.2053%; left: 25.4895%; width: 21.9158%;}

/* See release/CssGenerator.xlsx  */
.plans-by-floor .floor-name-wrapper { width: 0%; }
.plans-by-floor .floor-plan-wrapper { width: 83.3333%; }
.plans-by-floor .floor-nav-wrapper { width: 16.6666%; }
.plans-by-floor .floor-container-column { padding-bottom: 25.2192%; }
.plans-by-floor .scroll-container { padding-bottom: 30.2631%; }



/* ================================================================================================= *
 * Lot page
 * ================================================================================================= */
.view-switchers {
  margin-right: 20px !important;
}
.active-filter {
  margin-left: 20px;
   color: #333333 !important;
   font-size: 18px !important;
   font-weight: normal !important;
   text-transform: none !important;
  font-family: Raleway;
  line-height: 1.3em !important;
}
.breadcrumb {
  padding: 0 20px;
  color: #999 !important;
}
.breadcrumb a {
	color: #999 !important;
}
.lot_name {
	color: #2a5828;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Quattrocento;
}
.lot_summary h2, .lot_summary h2 span {
  color: #333333 !important;
   font-size: 18px !important;
   font-weight: normal !important;
   text-transform: none !important;
  font-family: Raleway;
  line-height: 1.3em !important;
}
.single-lot .lot_summary {
	text-align: center;
	margin-bottom: 30px;
}

.single-lot .main-image-wrapper {
	text-align: center;
}

.single-lot .main_plan {
	max-width: 66%;
}

.single-lot .main-image-wrapper .lot_details{
	text-align: left;
}

.single-lot .pdf-download {
	text-align: center;
}
.single-lot .pdf-download-link {
	padding-left: 28px;
	padding-right: 28px;
	width: auto;
	display: inline-block;
}

.single-lot .vc_col-sm-4 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.single-lot .vc_col-sm-4 .vc_separator {
	margin: 15px 0;
}
.wpb_row.vc_row.vc_row-fluid.mk-fullwidth-true.attched-false.vc_row-fluid {
  margin: 0;
}
ul.areas {
  list-style: outside none none;
	color: #333;
}
ul.areas, ul.areas li {
margin-left: 0;
}
ul.areas .figure {
  font-weight: bold;
}
.apartment-list-image-inner {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.vc_col-sm-4.wpb_column.column_container:last-child {
  padding-right: 0 !important;
}

/* Portfolio */
.page-id-19 .vc_col-sm-4.wpb_column.column_container {
  width: 31%;
}
.page-id-19 .c2a-link-single a, .page-id-19 .c2a-link-single a:hover {
  width: auto;
}
/* ================================================================================================= *
 * Custom List | Footer | Buttons
 * ================================================================================================= */
/* List */
.mk-list-styles.mk-shortcode.mk-align-left li {
  padding-left: 25px !important;
  text-align: left !important;
}
/* Footer */
.footer-wrapper .mk-padding-wrapper .mk-col-1-3 {
  margin-bottom: 50px !important;
}
/* Buttons */
.vc_button-2-wrapper a:hover {
	background-color:#fff !important;
	color:#4b9e48 !important;
}
/* Form */
.wpcf7-form h4 {
	color: #333333;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    font-family: Raleway;
    margin-bottom: 9px;
    
}
.wpcf7 input, .wpcf7 select, .wpcf7 textarea, .wpcf7 select option {
  background-color: #f7f7f7;
  color: #333;
  width: 100%;
}
.wpcf7 textarea {
  width: 100% !important;
}
.wpcf7-submit {
  background-color: #fff !important;
  border: 2px solid #4b9e48;
  color: #4b9e48 !important;
  width: 23% !important;
}
.wpcf7-submit:hover {
  background-color: #4b9e48 !important;
  border: 2px solid #4b9e48;
  color: #fff !important;
}

#theme-page select {
  -moz-appearance: none;
  background: url("./images/selectbox-arrow.png") no-repeat scroll right center rgba(247, 247, 247, 1);
  border: 1px solid #e3e3e3;
  border-radius: 0 !important;
  color: #999;
  display: block;
  font-family: Raleway;
  font-size: 13px;
  line-height: 14px;
  max-width: 100%;
  min-width: 240px;
  padding: 12px 14px 12px 8px;
}

/* form file request */
.page-template-msc-attachment-request-php .wpcf7 select, 
.page-template-msc-attachment-request-php .wpcf7 input[type="text"], 
.page-template-msc-attachment-request-php .wpcf7 input[type="email"] {
  background-color: #f7f7f7;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  font-size: 0.923em;
  margin:3px 0;
  padding: 5px;
  width: 100%;
  color:#333;
}
.page-template-msc-attachment-request .wpcf7-submit {
  width: 100% !important;
}

.wpcf7 .wpcf7-list-item {
  display: block;
  float: left;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 100%;
  margin-left: 0;
}

.wpcf7 .wpcf7-list-item input {
  display: block;
  float: left;
  height: 20px;
  line-height: 1.3em;
  width: 15px !important;
}

.wpcf7-list-item-label {
  display: inline-block;
  float: right;
  text-align: left;
  width: 87%;
}

textarea {
  font-family: Raleway !important;
}

/* ================================================================================================= *
 * MENU # LOGO : Fix displaying issues on several handsets
 * ================================================================================================= */
@media handheld, only screen and (max-width: 1140px) {
  /* Menu */
	.mk-opened-nav {
	  height: 100%;
	  overflow-x: hidden;
	  overflow-y: auto !important;
	  position: relative;
	  width: 100%;
	}
	#mk-responsive-wrap { position:relative;}
	#mk-responsive-wrap {
	  overflow-y: auto !important;
	  max-height:none !important;
	}
	#mk-responsive-wrap,
	#mk-responsive-wrap #mk-responsive-nav{
		height: auto !important;
	}
	#mk-responsive-wrap #mk-responsive-nav li.menu-item {
		min-height:30px;
	}/*
	nav {

		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
#mk-responsive-wrap {
	-webkit-overflow-scrolling: touch;
	max-height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
    display: block;
}*/
	.mk-header-bg {
		background-image:none !important;
	}
	.mk-header-holder {
		position: relative;
	}
	#theme-page {
		z-index: 10;
		position: relative;
	}
	#mk-responsive-wrap {
	  overflow-y: hidden;
	}
	#mk-responsive-nav li a {
		text-transform:none;
		color: #6e6e6e;
		transition: all 0.1s ease-out 0s;
		font-size: 14px;
	    font-weight: normal;
	}
	#mk-responsive-nav li ul li .megamenu-title:hover,
	#mk-responsive-nav li ul li a:hover,
	#mk-responsive-nav li a:hover,
	.current-menu-item a {
		background-color: #2a5828 !important;
		color:#fff !important;
	}
  /* Logo */
  .header-logo .dark-logo,
  .header-logo .light-logo {
    display: none !important;
  }
  #mk-header .logo-is-responsive .mk-resposnive-logo,
  .header-logo .responsive-logo {
    display: block !important;
  }
	/* Page Plan */
	ul.apartment-list {
	    margin-left: -15px;
	}
	.single-building #theme-page .theme-page-wrapper .theme-content {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.theme-content > .view-switchers {
	  margin-top: 20px;
	  margin-right: 20px;
	}
	/* Lot */
	.breadcrumb {
	  margin-top: 20px;
	}
}
/* Adding CSS - Copy from // */
@media only screen and (max-width: 645px) {
	li.apartment-list-row {
	  overflow: auto;
	}
	ul.apartment-list li ul li {
	  float: left;
	}
	ul.apartment-list li.apartment-list-row,
	ul.apartment-list li ul li.building,
	ul.apartment-list li ul li.pdf-download {
	  clear: both;
	}
	.apartment-list-row li {
	  width: 23%;
	}
	.apartment-list-row li.apartment_code_and_availability,
	ul.apartment-list li ul li.pdf-download {
	  width: 100% !important;
	}
}
@media only screen and (max-width: 600px) {
.lot-subheader-wrapper .choose-other {
    font-size: 3.6vw;
}
.filters {
    line-height: 48px;
    padding: 0 !important;
}
.filter-label {
    display: none;
}
.filter-responsive-link {
    cursor: pointer;
    display: block;
}
.filter-menu {
    margin: 0;
    width: 100%;
}
.filter-menu-closed .filter-menu {
    display: none;
}
.filter-menu > li {
    border-top: 1px solid #aaa;
    margin: 0;
    padding: 0;
    width: 100%;
}
.filter-menu-header, .filter-menu a {
    padding: 0 22px;
}
.filter-menu a > .filter-menu-header {
    padding: 0;
}
.filter-menu .chosen {
    background-color: #333;
    text-align:left;
}
.filter-menu .chosen:after {
    display: none;
}
.filter-menu .submenu {
    list-style-type: none;
    margin: 0;
}
.filter-menu .submenu a {
    padding: 0 44px;
}
.filter-menu .submenu li {
    border-top: 1px solid #aaa;
    margin: 0;
    width: 100%;
}
.page-template-plan-list-php .view-switchers, .single-building .view-switchers {
    float: none;
    width: 100%;
}
.page-template-plan-list-php .page-content, .single-building .page-content {
    width: 100%;
}
}

@media only screen and (max-width: 540px) {
.apartment-list-row .lot_detail {
    line-height: 2em;
}
.area-separator {
    display: block;
    line-height: 1px;
    text-indent: -9999px;
}
.floor_navigation_arrow .mk-font-icons i.mk-size-x-large {
    font-size: 2.4615em;
    line-height: 1.05em;
}
#apartment-images-content .vc_row-fluid .vc_span3 {
    float: none;
    width: auto;
}
#apartment-images-content .apartment-list .apartment-list-image-wrapper {
    margin-left: 0 !important;
}
.apartment-list .apartment-list-image-wrapper .plan {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}
.apartment-list .apartment-list-image-wrapper .plan img {
    position: static;
}
}
@media only screen and (max-width: 480px) {
.lot-subheader-wrapper .choose-other {
    font-size: 3.2vw;
}
.apartment-list-row .lot_detail .rooms {
    border-right: medium none;
    display: block;
    margin: 5px auto;
    width: 100%;
}
.apartment-list-row .lot_detail .floor {
    border-right: medium none;
    width: 90%;
}
.apartment-list-row.lot_type_appartement .lot_detail .entry, .apartment-list-row.lot_type_appartement .lot_detail .floor, .apartment-list-row .lot_detail .area, .apartment-list-row .lot_detail .availability {
    width: 44%;
}
.apartment-list-row.lot_type_appartement .lot_detail .entry, .apartment-list-row .lot_detail .area {
    padding-right: 3%;
    text-align: right;
}
.apartment-list-row.lot_type_appartement .lot_detail .floor, .apartment-list-row .lot_detail .availability {
    padding-left: 3%;
    text-align: left;
}
.floor_navigation_arrow .mk-font-icons i.mk-size-x-large {
    font-size: 2.1em;
}
	li.apartment-list-row ul li a {
	  display: block;
	  width: 100%;
	  text-align: center;
	}
	li.apartment-list-row ul li .list_icon {
		display: block;
		margin: 0 auto;
	}
	li.apartment-list-row ul li .list_building_text {
		clear: both;
    	display: block;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 420px) {
.menu-first, .menu-second {
    margin-right: 2%;
}
.rooms-separator {
    display: block;
    line-height: 1px;
    text-indent: -9999px;
}
.lot-subheader-wrapper .choose-other {
    font-size: 3vw;
}
}
@media only screen and (max-width: 360px) {
.menu-home-page-menu-container ul {
    font-size: 5vw;
}
.menu-home-page-menu-container ul ul.sub-menu li {
    font-size: 0.9em;
}
}
@media only screen and (max-width: 260px) {
.menu-home-page-menu-container ul {
    font-size: 4.5vw;
}
}
/* ================================================================================================= *
 * Development page
 * ================================================================================================= */
.single-development .theme-page-wrapper .image-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.single-development .theme-page-wrapper .image-wrapper {
    position: relative;
}
.single-development .theme-page-wrapper img {
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.single-development .theme-page-wrapper img.plan {
    z-index: 1;
}
.single-development .theme-page-wrapper img.plan_overlay {
    z-index: 5;
}
.single-development .theme-page-wrapper img.plan-overlay-transparent {
    position: relative;
    z-index: 10;
}
@media only screen and (max-width: 750px) {
	.vc_col-sm-4.wpb_column.column_container {
	  margin: 50px 0;
	}
}
/* Gallery */
.wpb_row vc_row.vc_row-fluid.mk-fullwidth-true.attched-false.vc_row-fluid {
	width:100%;
	margin:0 auto;
}
/* Several fix */
.wpb_row.vc_row.vc_row-fluid.mk-fullwidth-true.attched-false.vc_row-fluid > .wpb_column.column_container, 
.wpb_row.vc_row.vc_row-fluid.mk-fullwidth-true.attched-false.vc_row-fluid > .vc_col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}
.image-de-situation {
  margin-top: -15px;
}
.mk-background-stretch.full-height-false.mk-page-section.self-hosted.mk-blur-parent.mk-shortcode {
  min-height: auto !important;
}

.extra-line {width: 100%;margin: 0 auto 30px;}
.extra-line.l-top {margin: 70px auto 0px;}
.extra-line .inner-line,
.extra-line.l-top .inner-line {border-top:1px solid #ddd;margin:0 15px;}

.projectview-re-logo > img {
  margin: 15px 15px 0 0;
}

.single-development .theme-page-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* Video
.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width:800px;margin: 0 auto; }
.video-container iframe, 
.video-container object, 
.video-container embed, 
.video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } */

.meunier-video-wrapper {
    background-color: transparent;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}
.meunier-video-inner {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.meunier-video {
    background-color: transparent;
    height: 100%;
    width: 100%;
}
.meunier-video-wrapper.preload {
    display: block;
}
.meunier-video-wrapper.nopreload {
    display: none;
}

/* Fixing Smart Capture form rendering on iPhones */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
#fancybox-wrap, #fancybox-content {
	  border-width: 0 !important;
	  height: 100% !important;
	  max-height: 713px !important;
	  left: 10px !important;
	  margin: 0 !important;
	  padding: 0 !important;
	  width: 95% !important;
	}

	.page-template-msc-attachment-request-php {
	  padding: 4px;
	}
	
	#fancybox-close {
	  right: 10px !important;
	}
	
	.page-template-msc-attachment-request .wpcf7-submit {
	  width: 97% !important;
	}
}
/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	#fancybox-wrap, #fancybox-content {
	  border-width: 0 !important;
	  height: 100% !important;
	  max-height: 713px !important;
	  left: 10px !important;
	  margin: 0 !important;
	  padding: 0 !important;
	  width: 95% !important;
	}

	.page-template-msc-attachment-request-php {
	  padding: 4px;
	}
	
	#fancybox-close {
	  right: 10px !important;
	}
	
	.page-template-msc-attachment-request .wpcf7-submit {
	  width: 97% !important;
	}
}
@media handheld, only screen and (max-width: 320px) {
	#fancybox-wrap, #fancybox-content {
	  border-width: 0 !important;
	  height: 100% !important;
	  max-height: 713px !important;
	  left: 10px !important;
	  margin: 0 !important;
	  padding: 0 !important;
	  width: 95% !important;
	}

	.page-template-msc-attachment-request-php {
	  padding: 4px;
	}
	
	#fancybox-close {
	  right: 10px !important;
	}
	
	.page-template-msc-attachment-request .wpcf7-submit {
	  width: 97% !important;
	}
}