.vc_mk_element-icon {
	background-image: url('../../images/vc-icons.png') !important;
}


 .icon-mk-row {background-position: 0px 0px!important;}
 .icon-mk-page-section {background-position: -32px 0px!important;}
 .icon-mk-custom-box {background-position: -64px 0px!important;}
 .icon-mk-content-box {background-position: -96px 0px!important;}
 .icon-mk-image {background-position: -128px 0px!important;}
 .icon-mk-circle-image-frame {background-position: -160px 0px!important;}
 .icon-mk-moving-image {background-position: -192px 0px!important;}
 .icon-mk-image-gallery {background-position: -224px 0px!important;}
 .icon-mk-button {background-position: -256px 0px!important;}
 .icon-mk-mini-callout-box {background-position: -288px 0px!important;}
 .icon-mk-message-box {background-position: -320px 0px!important;}
 .icon-mk-icon-box {background-position: -352px 0px!important;}
 .icon-mk-divider {background-position: -384px 0px!important;}
 .icon-mk-table {background-position: -416px 0px!important;}
 .icon-mk-skill-meter {background-position: -448px 0px!important;}
 .icon-mk-diagram-progress-bar {background-position: -480px 0px!important;}
 .icon-mk-chart {background-position: -512px 0px!important;}
 .icon-mk-process-builder {background-position: -544px 0px!important;}
 .icon-mk-news-tab {background-position: -576px 0px!important;}
 .icon-mk-custom-sidebar {background-position: -608px 0px!important;}
 /* 2nd Row */
 .icon-mk-padding-space {background-position: 0px -32px!important;}
 .icon-mk-event-countdown {background-position: -32px -32px!important;}
 .icon-mk-milestone {background-position: -64px -32px!important;}
 .icon-mk-audio-player {background-position: -96px -32px!important;}
 .icon-mk-woo-recent-carousel {background-position: -128px -32px!important;}
 .icon-mk-raw-html {background-position: -160px -32px!important;}
 .icon-mk-raw-js {background-position: -192px -32px!important;}
 .icon-mk-animated-columns {background-position: -224px -32px!important;}
 .icon-mk-tab-slider {background-position: -256px -32px!important;}
 .icon-mk-text-block {background-position: -288px -32px!important;}
 .icon-mk-fancy-title {background-position: -320px -32px!important;}
 .icon-mk-title-box {background-position: -352px -32px!important;}
 .icon-mk-blockquote {background-position: -384px -32px!important;}
 .icon-mk-dropcaps {background-position: -416px -32px!important;}
 .icon-mk-highlight-text {background-position: -448px -32px!important;}
 .icon-mk-tooltip {background-position: -480px -32px!important;}
 .icon-mk-custom-list {background-position: -512px -32px!important;}
 .icon-mk-font-icon {background-position: -544px -32px!important;}
 .icon-mk-toggle {background-position: -576px -32px!important;}
 .icon-mk-tabs {background-position: -608px -32px!important;}
  /* 3rd Row */
 .icon-mk-accordion {background-position: 0px -64px!important;}
 .icon-mk-pricing-table {background-position: -32px -64px!important;}
 .icon-mk-employees {background-position: -64px -64px!important;}
 .icon-mk-clients {background-position: -96px -64px!important;}
 .icon-mk-blog {background-position: -128px -64px!important;}
 .icon-mk-post-carousel {background-position: -160px -64px!important;}
 .icon-mk-blog-portfolio-showcase {background-position: -192px -64px!important;}
 .icon-mk-portfolio {background-position: -224px -64px!important;}
 .icon-mk-portfolio-carousel {background-position: -256px -64px!important;}
 .icon-mk-news {background-position: -288px -64px!important;}
 .icon-mk-faq {background-position: -320px -64px!important;}
 .icon-mk-image-slideshow {background-position: -352px -64px!important;}
 .icon-mk-swipe-slideshow {background-position: -384px -64px!important;}
 .icon-mk-fullwidth-slideshow {background-position: -416px -64px!important;}
 .icon-mk-laptop-slideshow {background-position: -448px -64px!important;}
 .icon-mk-lcd-slideshow {background-position: -480px -64px!important;}
 .icon-mk-flex-slider {background-position: -512px -64px!important;}
 .icon-mk-edge-slider {background-position: -544px -64px!important;}
 .icon-mk-edge-one-pager {background-position: -576px -64px!important;}
 .icon-mk-testimonial-slideshow {background-position: -608px -64px!important;}
  /* 4th Row */

 .icon-mk-social-networks {background-position: 0px -96px!important;}
 .icon-mk-skype-number {background-position: -32px -96px!important;}
 .icon-mk-twitter-feeds {background-position: -64px -96px!important;}
 .icon-mk-facebook-like {background-position: -96px -96px!important;}
 .icon-mk-tweetme-button {background-position: -128px -96px!important;}
 .icon-mk-google-button {background-position: -160px -96px!important;}
 .icon-mk-pinterest-button {background-position: -192px -96px!important;}
 .icon-mk-video-player {background-position: -224px -96px!important;}
 .icon-mk-google-maps {background-position: -256px -96px!important;}
 .icon-mk-advanced-google-maps {background-position: -288px -96px!important;}
 .icon-mk-flickr-feeds {background-position: -320px -96px!important;}
 .icon-mk-contact-form {background-position: -352px -96px!important;}
 .icon-mk-contact-info {background-position: -384px -96px!important;}

.vc_navbar .vc_page_section_icon {
	background-position: -60px -210px !important;
}

.vc_row_section_mark {
	line-height: 16px;
	height: 16px;
	text-transform: uppercase;
	color: #878787;
	font-size: 11px;
}
