.wp-color-picker {
	padding: 1px 6px !important;
	margin-right: 5px !important;
	width: 150px;
}
.color-picker-holder .wp-picker-clear {
	padding: 2px 4px;
}
.color-picker-holder .wp-picker-holder {
	//position: relative;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container {
	border-radius: 0;
	border: 1px solid #dfdfdf;
	padding: 6px;
	background: #ffffff;
	position: absolute;
	width: 243px;
	left: -1px;
	z-index: 1000;
	bottom: -64px;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container label {
	display: block;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container label output {
	padding-top: 0px;
	display: inline;
	vertical-align: top;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container input {
	padding: 0;
	margin: 0;
	width: 100%;
}  

.mk-choose-social-networks .chosen-container{
	width: 100% !important;
}


