
#mk_posts_like_stats .inside{
	padding: 0;
	margin: 0;
	
}

.mk_posts_like_stats_ol {
	margin: 0;
	
}
#mk_posts_like_stats p{
	padding:0 15px;
	font-style: italic;

}

.mk_posts_like_stats_ol li{
	padding: 10px 5px;	
	margin: 0;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #eaeaea;
}


.mk_posts_like_stats_ol .mk-like-post-title{
	padding: 0 0 8px 10px;
	font-size: 14px;
	display: block;
}

.mk_posts_like_stats_ol .mk-like-post-count{
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
	margin:0 10px;
}


.mk_posts_like_stats_ol .mk-like-post-count {
	font-size: 11px;
	color: #8a8a8a;
}

.mk_posts_like_stats_ol .mk-like-post-count i {
	font-size: 16px;
	color: #da4c26;
}
.mk_posts_like_stats_ol .mk-like-post-category {
	color: #a2a2a2;
	padding-left: 10px;
	border-left:1px solid #ccc;
	line-height: 11px;
	display: inline-block;
	font-size: 11px;
	color: #a2a2a2;
	font-style: italic;
}
.mk_posts_like_stats_ol .mk-like-post-category a {
	font-size: 11px;
	color: #a2a2a2;
	font-style: italic;
}

.mk-like-post-posttype-title {
	padding:15px;
	font-size: 14px;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #eaeaea;
	background-color: #fafafa;
}